streamlit
pandas
reportlab
folium
streamlit-folium
geopy
st-supabase-connection
requests
google-api-python-client
google-auth-httplib2
openpyxl
plotly
matplotlib
pytesseract>=0.3.13
Pillow>=10.0.0
